body {
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  background: #f6f6f6fa;
}

h4,
h3,
h5 {
  margin: 0px;
  margin-bottom: 12px;
}

.wrapper {
    width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  padding: 40px;
}

.main-content {
  background-color: #fff;
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 102px;
  padding-bottom: 102px;
  box-sizing: border-box;
}

.main-content h2 {
    margin-top: 0;
}

aside {
  padding-top: 40px;
  background-color: #e0ebfe;
  width: 370px;
}

.company-name,
.university {
  color: #6d9bf5;
}


.dates {
  font-size: 12px;
  color: #a8a8a8;
  margin: 0px;
}

.work-exp div {
  margin-top: 20px;
}

.work-exp div:last-child {
  margin-bottom: 20px;
}

.contacts,
.tech-skills,
.soft-skills {
    padding-left: 40px;
    margin-top: 50px;
}

.contacts h3,
.tech-skills h3,
.soft-skills h3 {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.tech-skills-list,
.soft-skills-list {
  color: #161d2a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}

.soft-skills ul {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}

.contacts-type {
  color: #161d2a;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  /* 171.429% */
}

.contacts p {
  margin: 0;
}

.contacts a {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
